*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;

}

.form{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

input{
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

button{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgb(21, 55, 21);
}

button:hover{
    background-color: green;
}

.container{
    width: 100%;
    margin-top: 10px;
    height: 325px;
}

.retorno{
    font-size: 1.0rem;
    font-family: arial;
}

hr{
    margin: 5px 0;
}


.diferente {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
}