*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    
}

.container {
    background: linear-gradient(45deg, #3D3D3D, #84B026, #173540);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px; 
    box-sizing: border-box; 
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }
}

.container1, .container2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%; 
    max-width: 400px;
    margin-bottom: 20px; 
}

@media (min-width: 768px) {
    .container1, .container2 {
        width: 70%;
    }
}
input, button, p {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px; 
}

@media (min-width: 768px) {
    input, button, p {
        font-size: 20px;
    }
}

